<!DOCTYPE html>
<html>
  <head>
    <title>Password Checker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <header>
          <%= flash[:notice] %>
      </header>
    <%= yield %>
  </body>
</html>
